html,
body {
  font-family: Arial, sans-serif;
  color: #525454;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
  background-color: #333;
}

input {
  font-size: 12px;
}

h1 {
  font-size: 1.4em;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  float: left;
  width: 65%;
  height: 100%;
}

.options-box {
  background-color: white;
  float: left;
  height: 100%;
  line-height: 35px;
  text-align: left;
  width: 35%;
}

.options-box > div {
  text-align: center;
}

.locations ul {
  list-style-type: none;
  padding-left: 0;
}

.locations li {
  padding: 0.5em;
  text-align: left;
}

.locations li:hover {
  background-color: #d0d7d9;
}

.title {
  text-align: center;
  margin: 0.5em 0;
  font-weight: bold;
}

.image {
  width: 200px;
  height: 200px;
}

.text {
  width: 200px;
  font-size: 12px;
  margin-bottom: 0.5em;
}

#filter-text {
  width: 95%;
}

#hamburger {
  position: absolute;
  top: .5em;
  left: 36%;
}

#error {
  display: none;
}
